<%= form_for(site) do |f| %>
  <% if site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="box box-primary">
  <div class="box-header with-border">
     <h3 class="box-title"><%= :name %></h3>
  </div>

  <table>
  <tr class="field">
    <td><%= f.label :name %></td>
    <td><%= f.text_field :name %></td>
  </tr>

  <tr class="field">
    <td><%= f.label :description %></td>
    <td><%= f.text_field :description %></td>
  </tr>

  <tr class="field">
    <td><%= f.label :note %></td>
    <td><%= f.text_field :note %></td>
  </tr>
</table>
<Table>

  <tr class="actions">
    <td><%= f.submit "Save", :class => "btn btn-block btn-default " %></td>
<td>
<%= link_to 'Cancel', 
@site ,
class: "btn btn-block btn-default " %> 
</td><td>
<%= link_to 'Back', 
sites_path ,
class: "btn btn-block btn-default " %>
</td></tr></table>

</div>
<% end %>
